body {
	text-align: center;
	background: url("https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/18622181_10208537290646037_4579333237513584885_n.jpg?oh=9b3e648f158514633d7d16ab2b8bd06f&oe=5A4A8935");
	background-size: cover;
	font-family: Helvetica;
	font-weight: 100
}
